#header-logo-container-holder {
	background: #efefef;
	width: 940px;
	padding: 20px 0;
	text-align: center;
}
#header-h-container {
	display: block;
	width: 500px;
	height: 50px;
	border: #fff outset 2px;
	background: url(../img/logo-header/background.png);
	margin: 20px auto 0 auto;
	padding: 10px;
}
#header-v-container {
	display: block;
	width: 50px;
	height: 500px;
	border: #fff outset 2px;
	background: url(../img/logo-header/background.png);
	margin: 20px auto 0 auto;
	padding: 10px;
}
